<!-- about.html - about page (/about) -->

{% extends "layout.html" %}
{% block content %}
<head>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body class="bg-light">
	<h1>About Bronco Buddies</h1>
	<div class="content-section">
		<h4>Bronco Buddies a website forum made specifically for university students and faculty to ask questions to the community and get them answered. Each user has an account, from which they can ask questions and contribute to various discussions related to the university.</h4>
	</div>
</body>
{% endblock content %}

