<!-- home page -->
{% extends "layout.html" %}
{% block content %}
<head>
	<title>Bronco Buddies - forums</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
	<link rel="stylesheet" href="../static/css/colors.css">
	<style>
		.heading{
			text-align: center;
		}
	</style>
</head>
<body class="bg-light">
	<div class='content-section heading'>
		<h1>Bronco Buddies</h1>
		<hr>
		<h4>ask questions and get them answered by the SCU community</h4>
	</div>
	{% if current_user.is_authenticated: %}
	<main role="main" class="container">
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h6 class="border-bottom border-gray pb-2 mb-0">Welcome back, {{ current_user.firstname }} - Forums</h6>
		</div>
	</main>
	{% endif %}
	<!-- Search form (doesn't work) -->
	<div class="container">
	  <input class="form-control" id="listSearch" type="text" placeholder="Type something to search list items">
	  <br>
	  <ul class="list-group" id="myList">
	    	{% for post in posts %}
	    	<li class="list-group-item">
		    	<div class="my-3 p-3 bg-light rounded border shadow-sm">
		    		<p>Date posted: {{post.date_posted.strftime('%m-%d-%Y')}}</p>
					<h3><a href="{{ url_for('post', post_id=post.id) }}"> {{post.title}}</a></h3>
					<hr>
					<div class="row">
		    			<div class="col-sm-4">
								<p>Votes:{{post.votes}}</p>
						</div>
						<div class="col-sm-4">
								<p>Forum:{{post.getForumTitle()}}</p>
						</div>
						<div class="col-sm-4">
								<p>Owner:{{post.owner_id}}</p>
						</div>
	    			</div>
				</div>
			</li>
			{% endfor %}
	  </ul>
	</div>
<!-- 		<script defer>
			let colors = ["bg-navy","bg-blue","bg-aqua","bg-teal","bg-olive","bg-green","bg-lime","bg-yellow","bg-orange","bg-red","bg-fushsia","bg-purple","bg-maroon","bg-white","bg-silver","bg-gray","bg-black"];
			function addForumSection(forum_name, forum_id, forum_description) {
				let forumList = document.querySelector(".container div");

				let container = document.createElement("div");
				container.className = "media text-muted pt-3";

				let rect = document.createElement("rect");
				let bgColor = colors[Math.floor(Math.random()*colors.length)];
				rect.className = bgColor;
				rect.setAttribute("style","width:48px; height:48px; border-radius:8px;");
				container.appendChild(rect);

				let textContainer = document.createElement("p");
				textContainer.className = "media-body pb-3 mb-0 small lh-125 border-bottom border-gray";
				container.appendChild(textContainer);

				let title = document.createElement("strong");
				title.textContent = forum_name;
				textContainer.appendChild(title);

				let description = document.createElement("p");
				description.textContent = forum_description;
				textContainer.appendChild(description);

				forumList.appendChild(container);
				return container;
			}

			addForumSection("Homework Help",1,"Trying to figure out the answer to #3? We can help!");
			addForumSection("Tech Troubles",2,"Having an issue related to campus wifi, computers, or other tech? Ask away!");
			addForumSection("The Rodeo",3,"Wanna socialize with fellow broncos? come on down to the rodeo!");

		</script> -->
<script>

function searchFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('listSearch');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myList");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

document.querySelector("#listSearch").addEventListener("keyup", searchFunction);

</script>
</body>
{% endblock content %}

