<!-- profile page -->

{% extends "layout.html" %}
{% block content %}
<head>
	<title>Bronco Buddies - forums</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/colors.css">
	<style>
		p{
			color: #466d82;
		}
	</style>
</head>
<body class="bg-light">
	<h1> My Profile </h1>
	<hr>
	<main role="main" class="container">
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h6 class="border-bottom border-gray pb-2 mb-0">Welcome back, {{ current_user.firstname }}!</h6>
		</div>
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<div class="media">
		        <div class="media-body">
		          <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.lastname }}</h2>
		          <p class="text-secondary">{{ current_user.email }}</p>
		          <hr>
	    		</div>
		    </div>
		</div>

		<!-- Update Post -->
		<form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Account Details</legend>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}

                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}

                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>


		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h3 class="border-bottom border-gray pb-2 mb-0">My Posts</h3>
			{% for post in posts %}
				<div class="my-3 p-3 bg-white rounded shadow-sm">
					<h4><a href="{{ url_for('post', post_id=post.id) }}"> {{post.title}}</a></h4>
					<p>{{post.body}}</p>
					<p>Votes: <b>{{post.votes}}</b> date posted: {{post.date_posted.strftime('%m-%d-%Y')}}</p>
					<a class="btn btn-secondary btn-sm tm-1 bm-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
					<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
				</div>
				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
			        	<input class="btn btn-danger"type="submit" value="Delete">
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}

		</div>
		
	</main>

	 <!-- Modal -->

</body>

{% endblock content %}